.gauge {
    width: 200px;
    height: 200px;
    position: relative;
}

.svgElement {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerTransform {
    transform: translate(50%, 50%);
}

.filledArcs {
    transform: rotate(135deg);
    fill: none;
    stroke-width: 20;
}

.highlight {
    stroke: #EAB31E;
}

.background {
    stroke: #F4F5f5
}

.arcOutline {
    stroke-width: 1px;
    stroke: black;
    fill: none;
}



