.chart {
    background-color: rgb(243,243,243);
    width: 100%;
    pointer-events: none;
    overflow: hidden;
}

.bottomBorder{
    border-radius: 0px 0px 15px 15px;
}

.fullBorder{
    border-radius: 15px;
}

.header {
    display: flex;
    align-items: flex-start;

    justify-content: space-between;
    height: 41px;
    width: 100%;
}

.right {
    margin-left: 0;
    margin-right: auto;
}

.left{
    margin-right: 0;
    margin-left: auto;
}

.title {
    font-size: 12px;
    margin: 0px 0px 0px 10px;

    font-family: 'Be Vietnam Pro', sans-serif; 
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    height: 110px ;
}